body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 80px auto 0;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 100px;
}

.habit-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.habit-card:hover {
  transform: translateY(-5px);
}

.habit-card strong {
  font-size: 1.2em;
  color: #333;
}

.habit-card p {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}

.habit-active {
  background-color: #e0ffe0;
  border-left: 5px solid #4caf50;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.start-btn {
  background-color: #4caf50;
}

.start-btn:hover {
  background-color: #45a049;
}

.end-btn {
  background-color: #ff4d4d;
}

.end-btn:hover {
  background-color: #e60000;
}

.delete-btn {
  background-color: #ff0000;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.habit-duration {
  font-weight: bold;
  color: #2c3e50;
}

.input-container {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  max-width: 100%;
}

.input-container button {
  background-color: #2196F3;
}

.input-container button:hover {
  background-color: #1976D2;
}

h1 {
  text-align: center;
}

.add-habit-container {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.add-habit-btn {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #45a049;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.add-habit-btn:hover {
  background-color: #45a049;
}

.calendar-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .add-habit-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    bottom: 75px;
    right: 15px;
  }

  .habit-card {
    width: 90%;
  }

  .input-container input {
    width: 90%;
  }
}
